/*
    Class naming convention follows official Emmet syntax: https://docs.emmet.io/cheat-sheet/
*/
.Bgc\(\#EEEEEF\) {
    background-color: #EEEEEF;
}

.Bxsh {
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
}

.C\(\#000\.87\) {
    color: rgba(0, 0, 0, 0.87);
}

.C\(i\) {
    color: inherit;
}

.D\(f\) {
    display: flex;
}

.Fld\(c\) {
    flex-direction: column;
}

.Fz\(16px\) {
    font-size: 16px;
}

.Lh\(48px\) {
    line-height: 48px;
}

.Td\(n\) {
    text-decoration: none;
}

.Mha\(100\px\) {
    max-height: 100px;
}

.P\(5px\) {
    padding: 5px;
}

.Px\(16px\) {
    padding-left: 16px;
    padding-right: 16px;
}

.W\(100\%\)--sm {
    width: 100%;
}

.W\(100\%\) {
    width: 100%;
}
