header {
    border-bottom: 2px solid #BDBDBD;
}

/* CATALOG MENU STYLES */
.grouped a {
    display: table-cell;
    border-collapse: collapse;
}

.catalog_menu {
    background-color: #263238;
}

.catalog_menu a {
    color: white;
}

.catalog_menu li:hover,
.catalog_menu li.active{
    background-color: #CFD8DC;
}
.catalog_menu li:hover a,
.catalog_menu li.active a {
    color: black;
}

.grouped a {
    background-color: #CFD8DC;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
}

.grouped a:nth-child(-n + 4) {
    border-top: 4px solid #fff;
}

.grouped a:nth-child(4n + 1) {
    border-left: none;
}

/* END. CATALOG MENU STYLES */


/* FEATURED ITEMS */

.featured_item {
    width: 45%;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #CFD8DC;
}

/*index page STYLES*/
body.index {
    background: url(../img/cover.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.to_catalog {
    text-decoration: none;
    color: lightgrey;
    text-transform: uppercase;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 2px;
    opacity: .7;
}

.code_with_us {
    color: #787878;
    font-style: italic;
    margin-top: 30px;
}

/* SOCIAL */

#lab_social_icon_footer {
    padding: 10px 0;
    background-color: #dedede;
}

#lab_social_icon_footer a {
    color: #333;
}

#lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
    color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
    color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}

footer {
    border-top:2px solid #BDBDBD;
}

/* LOGIN */
form.login {
    margin: 0 auto;
}